.contenu{
    text-align: justify;
}

.chapitreArticle{
    background-color: rgb(204, 255, 231);

    padding: 1em;
    border-radius: 1em;

}

.listeChapitre{
    list-style: url("/assets/images/dev/circle-fill.svg");

}