
.compte{
    background-color: rgb(143, 250, 200);
    border: solid 0.1em black;
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
    text-align: center;
    padding: 5em;    
}

.infosCompte{
    text-align: center;
    margin: auto;
}

.sousCompte{
    background-color: rgb(164, 255, 211);
    border-radius: 0.3em;
    padding: 5em;
    margin: 0 0 4em 0;
}

.leLabel{
    width: 25em;
    
    background-color: white;
}

.imageDiv{
    border-radius: 0.3em;
    padding: 4em;
    margin: auto;
    background-color: rgb(205, 255, 231);
}

.imageProfile{
    
    width: 5em;
    height: 5em;
}

.boutons{
    margin: 0 0  0;
}
