<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Description</th>
            <th scope="col">Domaine</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let unProgramme of allProgrammes">
            <a routerLink="{{unProgramme.id}}">
                <th scope="row">{{unProgramme.id}}</th>
                <td>{{unProgramme.titre}}</td>
                <td>{{unProgramme.description}}</td>
                <td>{{unProgramme.domaine}}</td>
            </a>
        </tr>

    </tbody>
</table>


<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="display-1">Les programmes</h1>
        </div>
    </div>

    <div class="row rounded border border-5 border-primary" *ngFor="let unProgramme of allProgrammes">

        <a routerLink="{{unProgramme.id}}">
            <h1>{{unProgramme.titre}}</h1>
            <p>{{unProgramme.description}}</p>
            <label>{{unProgramme.domaine}}</label>
        </a>

    </div>
</div>