.prog{
    background-color: rgb(143, 250, 200);
    border: solid 0.2em black;
    border-radius: 0.7em;
    text-align: center;
}

.row label{
    background-color: rgb(93, 161, 130);
    border-radius: 0.2em;
    font-style: italic;
    color: rgb(223, 255, 240);
}

.longueurDeCarte{
    height: 10em;
    width: 100%;
    margin: 0;
}

.card{
    padding: 0;
}

h1{
    text-align: center;
}



